#Kickstart ks-centos.cfg
install
text
url --url http://mirror.centos.org/centos/7/os/x86_64/

#System language
lang en_US.UTF-8
#langsupport --default en_US.UTF-8
keyboard sg

#System timezone
timezone Europe/Zurich

# for STATIC IP: uncomment and configure
#network --device=eth0 --bootproto=static --ip=192.168.2.106 --netmask=255.255.255.0 --nameserver=192.168.2.1 --hostname=www106 --gateway=192.168.2.1
network --bootproto=dhcp

#Firewall/SElinux configuration
firewall --disabled
selinux --disabled

#System authorization infomation
auth --useshadow
#Root password
rootpw --iscrypted $6$AuW0ZC4F$TLBjWm4t8rK5It08hNcJQIHs06N3jdz.cFGYbsbf/aS4IQCQnfD3FH4Ps9JtsuaCcoHAX/Ohwx5SpCs1mrGbR/
#Initial user
user ndee --name "ndee" --iscrypted --password $6$Hq5Jy5XM$lSMeKJA1vxyKnSW7q4lAiq90EH068DYqUc5ejaHmouimS2CyoAlEPvCErBT3Qt6/s/6dNXEs4ym2S91AcTDgd.

#Disk partitioning information
zerombr
clearpart --all --initlabel
part /boot --fstype ext4 --size=1024 --asprimary
part swap --size=1024 --asprimary
part / --fstype ext4 --grow --size=1024 --asprimary
bootloader --location=mbr

#Reboot after installation
reboot
firstboot --disabled

#Do not configure the X Window System
skipx

# Minimal package set
#%packages --resolvedeps
%packages
curl
wget
git
net-tools
mlocate
unzip
gcc
bsdtar
zsh

%end

%post --nochroot --log=/root/ks-post.log

echo "install centos-release-scl"
yum install centos-release-scl -y
yum update -y
echo .

echo "install and enable python36"
yum install rh-python36 -y
#scl enable rh-python36 bash
echo .

echo "install docker"
yum install docker -y
systemctl enable docker
echo .

echo "install python modules"
python3 -m pip install pip --upgrade
python3 -m pip install openshift
python3 -m pip install ansible
echo .

echo "installing ansible galaxy modules"
ansible-galaxy collection install community.kubernetes
echo .

echo "prepare docker env for k8s"
echo -e "\n"|ssh-keygen -t rsa -N ""
mkdir /root/.kube
/usr/sbin/groupadd docker
/usr/sbin/usermod -aG docker ndee
/bin/systemctl restart docker
echo .

echo "add ndee to sudoers wheel group"
/usr/sbin/usermod -aG wheel ndee
echo .

echo "add python3 support in bash"
echo "source /opt/rh/rh-python36/enable" >> /root/.bash_profile
echo "source /opt/rh/rh-python36/enable" >> /home/ndee/.bash_profile
echo .

echo "add gitrepo k8s installation"
mkdir -p /export/gitrepo
chown -R ndee.ndee /export
cd /export/gitrepo/
sudo -S -u ndee git clone https://github.com/aracloud/easy-k8s-setup.git
echo .

echo "install vagrant"
cd ~/
wget -q https://releases.hashicorp.com/vagrant/2.2.14/vagrant_2.2.14_linux_amd64.zip
unzip vagrant*linux*.zip
mv vagrant /usr/bin/
echo .

echo "install vagrant plugin as ndee"
sudo -S -u ndee vagrant plugin install vagrant-vmware-esxi
echo .

echo "install ovftool"
wget -q http://cdocker01/ovftool/ovftool.bundle
sh ovftool.bundle --console --required --eulas-agreed
echo .

echo "configure swappiness"
echo "vm.swappiness=0" >>/etc/sysctl.conf
echo .

echo "setlocale"
cat <<EOF>>/etc/environment
LANG=en_US.utf-8
LC_ALL=en_US.utf-8
EOF
echo .

%end
